.logo{
    padding: 1rem 2rem;
}
.title{
    color: #ddd;
}

.subtitle{
    margin-top: 2rem;
    color: #999;
    margin-bottom: 3rem;
}

.submitBtn{
    margin-top: 1rem;
    padding: .7rem 1.2rem;
    font-weight: 700;
    background: rgb(230, 0, 0);
    border: none;
    border-radius: 3px;
    color:#eee;
    cursor: pointer;
    transition: .1s linear;
}

.submitBtn:enabled:hover{
    background: rgb(200, 0, 0);
    color:#ddd;
}
.submitBtn:enabled:active{
    background: #333;
}

.emailForm{
    width: 100%;;
    max-width: 500px;
    padding: 2rem;
    margin: auto;
    margin-top: 2rem;
}



