.header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.signout{
    color: red;
    cursor: pointer;
    transition: .2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background: transparent;
    border: none;
    font-size: 10px;
}

.signout svg{
    font-size: 1.6rem;
}

.main  {
    margin:auto;
    width: 100%;
    max-width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.main img{
    opacity: .8;
}

.main h1{
    margin-top: 2rem;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}



.main p:nth-of-type(1){
    color: #ccc;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.main p:nth-of-type(2){
    color: #999;
}

.main p:nth-of-type(3){
    color: #777;
}

.main button{
    background: transparent;
    border: 2px solid #333;
    padding: .7rem 1.7rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    color: #888;
    cursor: pointer;
    transition: .2s linear;
}

.main button:hover{
    color: #ccc;
    border-color: #454545;
}

.main button:active{
    background: #333;
    transform: scale(.95);
}