.banner__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.banner__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110vh;
    background: linear-gradient(90deg, rgba(2, 2, 27, 0.9), rgba(0, 0, 0, .4));
    z-index: 2;
}

.banner__image::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100vw;
    height: 500px;
    background: linear-gradient(transparent, rgba(0, 8, 29, 1));

    z-index: 2;
}

.banner__image img {
    height: 110vh;
    width: 100vw;
    object-fit: cover;
}