.modalContainer{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.2);
    z-index: 99999;
}

.modal{
    background: #000;
    padding: 2rem 4rem;
    max-width: 520px;
    width: 100%;
    border: 2px solid #333;
    border-radius: 10px;
    position: relative;
}

.modal .close{
    position:absolute;
    top:0;
    right:0;
    margin: .5rem;
    background: red;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    transition:.3s ease;
    padding:5px;
}

.modal .close:active{
    transform:scale(.9)
}

.modal .close:hover{
    background: rgb(216, 0, 0);
}

.modal .title{
    font-size: 2rem;
}

.modal .subtitle{
    font-size: .9rem;
    color: #888;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* text-transform: none; */
}

.modal .submitBtn{
    margin-top: 10px;
    padding: .7rem 1.2rem;
    background: rgb(203, 0, 0);
    border:none;
    cursor: pointer;
    border-radius: 2px;
    transition:.2s ease;
    font-size: 1rem;
    min-width: 6rem;
    color:#eee;
}

.modal .submitBtn:enabled:hover{
    background: rgb(180, 0, 0);
}

