@media (max-width:468px){
    .logo{
        width:150px;
        height:40px;
    }
}

@media (max-width:368px){
    .logo{
        width:140px;
        height:40px;
    }
}

.logoText{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(228, 1, 1);
}

@media (max-width:992px){
    .logoText{
        font-size: 2rem;
    }
}

@media (max-width:468px){
    .logoText{
        font-size: 1.6rem;
    }
}