.movieCard{
    transition: .3s ease-in-out;
    padding:0;
    opacity: .8;
}

.movieCard:hover{
    opacity: 1;
    transform: scale(1.07);
}

.image img{
    object-fit: contain;
    opacity:0.8;
    margin:0;
}

.image{
    margin:0
}

@media (max-width: 662px){
    .image img{
        width:calc(92px + 5vw);
        aspect-ratio: 3/4;
    }
}

