.row {
    /* 0 horizontal padding cuz' needed for movie details page */
    padding: 1rem 0;
    max-width: 100%;
    position: relative;
}

.container::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100%;
    background: transparent;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 90%);
    z-index: 1111;
    top: 0;
    right: 0;
    pointer-events: none;
}



.rowTitle {
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ddd;
}

.container {
    display: flex;
    gap: 1.2rem;
    overflow-x: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Microsoft Edge */
    padding: 1rem 0;
    padding-right: 50px;
}



.container::-webkit-scrollbar {
    display: none;
}

@media (max-width:729px) {
    .container::before {
        width: 50px;
        /* border: dotted red; */
        /* background: transparent; */
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 1) 100%);
    }

    .container {
        padding-right: 0;
    }

}

@media (max-width:662px) {
    
    .row {
        /* 0 h orizontal padding cuz' needed for movie details page */
        padding: 0rem 0;
    }

    .rowTitle {
        margin-bottom: 0;
        font-size: 1.5rem;
    }

    .container {
        padding: 0rem 0;
    }

}

@media (max-width:479px) {
    .container::before {
        width: 50px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 110%);
    }
    .rowTitle {
        font-size: 1.2rem;
        margin-bottom: -1rem;
    }

    .container {
        padding: 0rem 0;
    }

}