.signup {
  width: 100vw;
  position: relative;

}

.signup__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 2rem 3rem;
  /* background: red; */
}

.signup__headerSwitch a {
  color: #eee;
  background: rgba(229, 9, 20, 1);
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.05rem;
  transition: .3s ease-in-out;
}

.signup__headerSwitch button:hover {
  background: rgb(181, 7, 16);
}

.signup__hero {
  height: 100vh;
}


.signup__heroContent {
  position: absolute;
  top: 25vh;
  left: 7vw;
}

.signup__heroTitle {
  font-size: 4rem;
  width: 900px;
}

.signup__heroSubtitle {
  font-size: 1.2rem;
  margin-top: .5rem;
}

.signup__heroForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  max-width: 700px;
  margin-top: 2rem;

}

.signup__heroEmail {
  margin-right: 10px;
  position: relative;

}

.signup__heroEmail input {
  padding: 2rem 2rem 1rem 1.5rem;
  border: 1px solid #555;
  background: rgba(0, 0, 0, .6);
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
}

.signup__heroEmail label {
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  pointer-events: none;
  transition: .3s ease-in-out;
  color: #ccc;
  display: inline-block;
}

.signup__heroEmail input:focus~label,
.signup__heroEmail input:valid~label {
  top: 18px;
  transform: translateY(-50%) scale(.75);
  left: 11px;

}

.signup__heroForm button {
  color: #fff;
  font-size: 1.3rem;
  background: rgba(229, 9, 20, 1);
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  transition: .3s ease-in-out;
  font-weight: 600;
}

.signup__heroForm button:hover {
  background: rgb(195, 8, 18);



}

.signup__body {
  margin-top: -220px;
  padding: 1rem;
}

.signup__cardsContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.signup__card {
  flex: 1 1 600px;
}

.signup__faqContainer {
  padding: 3rem;
  margin: auto;
  width: 80%;
}

.signup__faqTitle {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.signup button:active {
  background: rgb(163, 7, 15) !important;

}


@media (max-width: 992px) {


  .signup__heroTitle {
    font-size: 3rem;
    width: 100%;
    max-width: 600px;
  }

  .signup__heroSubtitle {
    font-size: 1rem;
    margin-top: .5rem;
  }

  .signup__cardsContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .signup__card {
    flex: 1 1 500px;
    width: 100%;
    flex-shrink: 0;
  }

  .signup__faqContainer {
    padding: 2rem;
    width: 100%;
  }
}

@media (max-width:668px) {

}


@media (max-width:568px) {
  .signup__header {
    padding: 1rem 1rem;
  }

  .signup__heroContent {
    position: static;
    padding: 5rem 1rem;
  }

  .signup__heroTitle {
    font-size: 2.5rem;
  }

  .signup__heroSubtitle {
    font-size: 0.9rem;
  }

  .signup__heroForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    position: relative;
  }

  .signup__heroEmail {
    width: 100%
  }

  .signup__heroEmail input {
    padding: 1.5rem 1.5rem 0.5rem 1rem;
    font-size: 1.1rem;
    color: #fff;
  }

  .signup__heroEmail label {
    font-size: 0.9rem;
  }

  .signup__heroEmail input:focus~label,
  .signup__heroEmail input:valid~label {
    top: 12px;
    transform: translateY(-50%) scale(.75);
    left: 5px;

  }
}

@media (max-width:468px) {

  .signup__heroTitle {
    font-size: 2rem;
  }

  .signup__heroSubtitle {
    font-size: 0.85rem;
    font-weight: 400;
  }

  .signup__faqContainer{
    padding: 2rem 0rem;
  }
}

@media (max-width:368px) {
  .signup__heroContent {
    position: static;
    padding: 3rem 1rem;
  }

  .signup__heroTitle {
    font-size: 1.5rem;
  }

  .signup__heroSubtitle {
    font-size: 0.8rem;
    font-weight: 400;
  }
}